<div class="container" style="margin-top: 50px;">
    <div class="col-md-4">
        <form class="formContainer" ng-hide="showForm">
            <fieldset class="form-group">
                <label for="listingname">Listing Name</label>
                <input type="text" class="form-control input-sm" ng-model="vm.listing.listingName">
            </fieldset>
            <fieldset class="form-group">
                <label for="address1">Address1</label>
                <input type="text" class="form-control input-sm" ng-model="vm.listing.address1">
            </fieldset>
            <fieldset class="form-group">
                <label for="address2">Address2</label>
                <input type="text" class="form-control input-sm" ng-model="vm.listing.address2">
            </fieldset>
            <fieldset class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control input-sm" ng-model="vm.listing.city">
            </fieldset>
            <fieldset class="form-group">
                <label for="state">State</label>
                <input type="text" class="form-control input-sm" ng-model="vm.listing.state">
            </fieldset>
            <fieldset class="form-group">
                <label for="zip">Zip</label>
                <input type="text" class="form-control input-sm" ng-model="vm.listing.zipCode">
            </fieldset>
            <fieldset class="form-group">
                <label for="contactPhone">Contact Phone</label>
                <input type="text" class="form-control input-sm" ng-model="vm.listing.contactPhone">
            </fieldset>
            <fieldset class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control input-sm" ng-model="vm.listing.price">
            </fieldset>
            <fieldset class="form-group">
                <label for="listingDescription">Listing Description</label>
                <input type="text" class="form-control input-sm" ng-model="vm.listing.listingDescription">
            </fieldset>
            <fieldset class="form-group">
                <label for="bedroom">Bedroom</label>
                <!-- <input type="text " class="form-control input-sm" ng-model=" "> -->
                <select class="form-control input-sm" value="" ng-model="vm.listing.bedroom">
                   <option>-</option>
                   <option value=1>1</option>
                   <option value=2>2</option>
                   <option value=3>3</option>
                   <option value=4>4</option>
                   <option value=5>5</option>
                   <option value=6>6</option>
                 </select>
            </fieldset>
            <fieldset class="form-group">
                <label for="bathroom">Bathroom</label>
                <select class="form-control input-sm" value="" ng-model="vm.listing.bathroom">
               <option>-</option>
               <option value=1>1</option>
               <option value=2>2</option>
               <option value=3>3</option>
               <option value=4>4</option>
               <option value=5>5</option>
               <option value=6>6</option>
             </select>
            </fieldset>
            <fieldset class="form-group">
                <label for="listingImage">Listing Image</label>
                <input type="text" class="form-control input-sm" ng-model="vm.listing.listingImage">
            </fieldset>

            <button type="submit" class="btn btn-primary" ng-click="vm.newListing()">Add new listing</button>

        </form>
    </div>
</div>
