<!-- <pre>{{vm.detailResponse | json}}</pre> -->
<nav class="navbar navbar-dark bg-primary navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><img src="app/images/lsurfer-logo.png" width="100px" height="50px" /></li>
                <li style="background-color: #fff;"><a ui-sref="main">Home</a></li>
                <li style="background-color: #fff;"><a ui-sref="listing">Listings</a></li>

            </ul>
            <form class="navbar-form navbar-left pull-right">
                <button class="btn btn-default" type="submit" ui-sref="login">Login</button>
                <button class="btn btn-default" type="submit" ng-click="vm.logOut()">Logout</button>
                <button class="btn btn-default" type="submit" ui-sref="register">Register</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <!-- add listing image here -->
    <img class="listing-image" ng-src="{{vm.detailResponse.listingImage}}" />
</div>
<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="col-md-6">
            <p><strong>{{vm.detailResponse.listingName}} </strong>
                <a ng-click="vm.addFavorite(vm.detailResponse.listingId)" <i class="fa fa-heart-o" aria-hidden="true"></i>
                </a>
            </p>
            <p>{{vm.detailResponse.address1}}, {{vm.detailResponse.city}}, {{vm.detailResponse.state}}, {{vm.detailResponse.zipCode}}</p>
        </div>
        <div class="col-md-6">
            <p><strong>Listing Owner</strong></p>
            <p>{{vm.detailResponse.firstName}} {{vm.detailResponse.lastName}}</p>
            <button class="btn btn-primary btn-xs" ui-sref="addMessage">Contact this owner</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p><strong>About this Listing</strong></p>
            <p>{{vm.detailResponse.listingDescription}}</p>
            <p>Price: {{vm.detailResponse.price}}</p>
            <p>Bedroom: {{vm.detailResponse.bedroom}}</p>
            <p>Bathroom: {{vm.detailResponse.bathroom}}</p>
        </div>
    </div>
</div>
