<nav class="navbar navbar-dark bg-primary navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><img src="app/images/lsurfer-logo.png" width="100px" height="50px" /></li>
                <li style="background-color: #fff;"><a ui-sref="main">Home</a></li>
                <li style="background-color: #fff;"><a ui-sref="listing">Listings</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <!-- <img src="app/images/lsurfer-logo.png" width="100" height="100" style="background-color: #5DADE2;" align="middle"> -->
            <div class="panel panel-info">
                <div class="panel-heading">
                    Login
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" ng-model="vm.login.emailAddress" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" ng-model="vm.login.password" class="form-control">
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <a ui-sref="register" class="btn btn-default">Register</a>
                    <button class="btn btn-primary pull-right" ng-click="vm.login()">Login</button>
                </div>
            </div>
            <div class="fb-login text-center">
                <p><strong>-OR-</strong></p>
                <button fb-login class="btn btn-primary btn-sm" type="button" ng-click="vm.fbLogin()"><i class="fa fa-facebook" aria-hidden="true"></i> Log in with Facebook</button>
            </div>
        </div>
    </div>

</div>
